XTerm*background: black
XTerm*foreground: white

XTerm*saveLines: 4096
XTerm*vt100.geometry: 80x24

XTerm*vt100.faceName: DejaVu Sans Mono:style=Book:antialias=true
XTerm*vt100.faceSize: 12
XTerm*dynamicColors: true

! min scale height makes the font size 13 fit better
!xterm*scaleHeight: 0

!xterm*selectToClipboard: true

!Xft.antialias: true
!Xft.hinting: true
!Xft.hintstyle: hintfull
Xft.dpi: 96
!Xft.rgba: rgb

!URxvt.transparent: true
!URxvt.letterSpace: -1
URxvt.internalBorder:  0
URxvt.scrollBar: off
URxvt.font: xft:DejaVu Sans Mono:bold:pixelsize=20

!*MenuButton*background:        grey80
!*MenuButton*foreground:        black
