! xterm
! =====
! Some quick-guides for xterm settings:
! https://unix4lyfe.org/xterm/
!
XTerm*dynamicColors: true
XTerm*saveLines: 4096
XTerm*vt100.geometry: 80x50
XTerm*vt100.faceName: DejaVu Sans Mono:style=Book:antialias=true
XTerm*vt100.faceSize: 12

! Uncomment below to make XTerm send alt+ keybindings as <esc><something> (which
! is how most modern linux-terminals behave).
! XTerm*eightBitInput: false

! uncomment to make the font size 13 fit better
! xterm*scaleHeight: 0.9

! xterm*selectToClipboard: true

! Font rendering
! ==============
Xft.dpi: 96
! Xft.antialias: true
! Xft.hinting: true
! Xft.hintstyle: hintfull
! Xft.rgba: rgb

! Menu button
! ===========
! *MenuButton*background: grey80
! *MenuButton*foreground: black
