[alias]
  lg = log
  lgg = log --graph --oneline
  so = show
  soq = show --no-patch --oneline
  sos = show --stat --oneline
  st = status
  sh = stash
  shl = stash list
  cm = commit
  cma = commit --amend
  ch = checkout
  br = branch
  dfs = diff --stat
  dfc = diff --cached
  rb = rebase
  rbi = rebase -i
  rba = rebase --abort
  rbc = rebase --continue
  cp = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  cld = clang-format --diff
  cfl = config --local -l
  cfg = config --global -l
  them = ls-files --others --directory

[core]
  editor = vim -i NONE

[init]
  defaultBranch = main

[pull]
  rebase = true

[commit]
  gpgSign = true

[include]
  path = ~/.post-gitconfig
