[alias]
  lg = log --no-merges
  sh = show --stat --oneline
  st = status
  cm = commit
  ch = checkout
  br = branch
  df = diff
  dfc = diff --cached
  them = ls-files --others --directory

[init]
  defaultBranch = main

[pull]
  rebase = true

[include]
  path = ~/.post-gitconfig
