[alias]
  cfl = config --local -l
  cfg = config --global -l
  lg = log --oneline
  lgg = log --graph --oneline
  sho = show --no-patch --oneline
  shs = show --stat --oneline
  st = status
  sh = stash
  cm = commit
  cma = commit --amend
  ch = checkout
  br = branch
  dfs = diff --stat
  rb = rebase
  rbi = rebase -i
  rbc = rebase --continue
  dfc = diff --cached
  them = ls-files --others --directory

[core]
  editor = vim -i NONE

[init]
  defaultBranch = main

[pull]
  rebase = true

[commit]
  gpgSign = true

[include]
  path = ~/.post-gitconfig
